/* 
   BODY RESET
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* body {
	margin:0;
	display: grid;
	min-height: 100vh;
	grid-template-rows:auto 1fr auto ;
} */

.bodyLogo {
	margin: auto;
}
#main-container {
    position: relative;
    min-height: 100%;
}
/* body { background-image: url(/images/image.svg) } */

button{
	padding: 3px;
	border-radius: 5px;
}

/*--------------------------------------------HOME--------------------------------------------------------*/
.pageLogin {
	background-color: white;
	width: auto;
	width: auto;
	height: 800px;
}



/*------------------------------------------NAVEGADOR--------------------------------------------------------*/
.EstiloNav {
	background-color: #4dada4;
	font-family: "Titillum Web", Titillium Web, sans-serif;
}

.BotonNav{
	width: 200px;
}
a{
	text-decoration: none
}

.dropdownTexto {
color: #4dada4;
text-decoration: none;
font-family: "Titillum Web", Titillium Web, sans-serif
}
.dropdownTexto:hover {
	background-color: #e2e2e2;
	color: #4dada4;
	cursor: pointer;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.botonUsuarios {
	width: auto;
	border-radius: 5px;
	border-style: none;
	padding: 15px;
	background-color: white;
	color: #4dada4;
	font-weight: 700;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.botonLogin {
	width: auto;
	border-style: none;
	border-radius: 5px;
	padding: 6px;
	background-color: white;
	color: #4dada4;
	font-weight: 700;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.boton_home {
	font-size: 35px;
	margin-right: 5px;
	color: white;
	
}

/*------------------------------------FOOTER---------------------------------------*/
.iconos_footer {
	font-size: 30px;
	margin-top: 15px;
	margin-right: 5px;
	color: white;
	cursor: pointer;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.iconos_footer:hover {
	font-size: 30px;
	margin-right: 5px;
	color: #4dada4;
	cursor: pointer;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.footer {
	background-color: #4dada4;
	color: white;
	padding: 1em 0;
	font-family: "Titillum Web", Titillium Web, sans-serif;
}
.textoFooter1 {
	margin-top: 15px;
	font-weight: 600;
	color: white;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.textoFooter2 {
	font-weight: 600;
	color: white;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.iconoFormMec {
	width:60px;
	fill:white;
	margin:10px
}
.alinear{
	display: inline-block;
}

.footerCajas{
	background-color: #4dada4;
	margin: 10px;
	padding: 10px;
	color: white;
	fill: white;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
/*-----------------------------------FORMULARIO-----------------------------------------*/

.formulario {
	margin: 10px;
	margin-bottom: 50px;
	background: #fff;
	border-radius: 15px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.marginFormulario {
	margin: 50px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.formulario > div {
	margin-bottom: 10px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;

	margin-top: 10px;
	color: #1f1f1f;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.botonSiguienteFormulario {
	display: block;
	background: #4dada4;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	border: none;
	
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	margin-top: 20px;
}
.botonRegresarFormulario {
	display: block;
	background: #4dada4;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: rgb(255, 0, 0);
	font-size: 16px;
	transition: .3s ease all;
	margin-top: 20px;
}
.botonClasificadoraEnviar{
	margin: 1rem 0;
	padding: 0.5rem 0;
	background-color: #4dada4;
}
.formulario input,
.formulario textarea {
	font-family: 'Titillium Web', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #4dada4 ;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}



.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}


.buttonNuevaConsulta{
	background: #4dada4;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	width:auto
}

.buttonNuevaConsulta[type="button"]:hover{
	background: #218379;
}


.formulario button[type="submit"]:hover {
	background: #218379;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
	width:200px
	
}

.formulario input[type="radio"] {
	width: auto;
}

.formularioEncargado input,
.formularioEncargado textarea {
	font-family: 'Titillium Web', sans-serif;
	width: auto;
	height: auto;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}



.formularioEncargado input:focus {
	outline: none;
	border: 2px solid #0085FF;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.formularioEncargado .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.formularioEncargado button[type="submit"] {
	display: block;
	background: #4dada4;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	width:200px
}

.formularioEncargado button[type="submit"]:hover {
	background: #218379;
	width:200px
	
}

.formularioEncargado .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
	width:200px
}

.formularioEncargado input[type="radio"] {
	width: auto;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.botonEnviarFormulario {
	display: block;
	background: #4dada4;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	width:600px

}



.marginFormClasificadora {
	margin-top: 50px;
	padding: 20px;
}

.iconFormClasificadora {
	fill: #828282;
	width: 50px;
}
.iconFormClasificadora2 {
	fill: #828282;
	width: 35px;
}
.contendedorBotonesProblemas {
	margin: 10px;
}
.buttonIconsFormClasificadora {
	background-color: white;
	border: 2px solid #828282;
	width: 170px;
	height: 135px;
	padding: 15px;
	margin-right: 8px;
	border-radius: 15px;
}
.problemaClasificadoraGray {
	background-color: white;
	border: 2px solid #828282;
	width: 160px;
	height: 135px;
	padding: 15px;
	margin-right: 8px;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.problemaClasificadoraGreen {
	background-color: #4dada4;
	transition: 1s;
	border: 2px solid #828282;
	width: 160px;
	height: 135px;
	padding: 15px;
	margin-right: 8px;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.problemaPapelGray {
	background-color: white;
	border: 2px solid #828282;
	width: 160px;
	height: 135px;
	padding: 15px;
	margin-right: 8px;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.problemaPapelGreen {
	background-color: #4dada4;
	transition: 1s;
	border: 2px solid #828282;
	width: 160px;
	height: 135px;
	padding: 15px;
	margin-right: 8px;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.problemaInyectorGray {
	background-color: white;
	border: 2px solid #828282;
	width: 160px;
	height: 135px;
	padding: 15px;
	margin-right: 8px;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.problemaInyectorGreen {
	background-color: #4dada4;
	transition: 1s;
	border: 2px solid #828282;
	width: 160px;
	height: 135px;
	padding: 15px;
	margin-right: 8px;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.problemaBidonGray {
	background-color: white;
	border: 2px solid #828282;
	width: 160px;
	height: 135px;
	padding: 15px;
	margin-right: 8px;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.problemaBidonGreen {
	background-color: #4dada4;
	transition: 1s;
	border: 2px solid #828282;
	width: 160px;
	height: 135px;
	padding: 15px;
	margin-right: 8px;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
/*Seteo iconos colores problemas*/
.iconManteWhite {
	fill: white;
	width: 70px;
}
.iconManteGray {
	fill: #828282;
	width: 70px;
}
.iconPapelWhite {
	fill: white;
	width: 70px;
}
.iconPapelGray {
	fill: #828282;
	width: 70px;
}
.iconInyectWhite {
	fill: white;
	width: 48px;
	margin-right: 25px;
}
.iconInyectGray {
	fill: #828282;
	width: 48px;
	margin-right: 25px;
}
.iconBidonWhite {
	fill: white;
	width: 48px;
	margin-right: 5px;
}
.iconBidonGray {
	fill: #828282;
	width: 48px;
	margin-right: 5px;
}
.tituloIconPapelGray{
	margin: 10px;
	color: #828282;
	font-size: 16px;
}
.tituloIconPapelWhite{
	margin: 10px;
	color: white;
	font-size: 16px;
}
.tituloManteGray{
	margin: 10px;
	color: #828282;
	font-size: 16px;
}
.tituloManteWhite{
	margin: 10px;
	color: white;
	font-size: 16px;
}
.tituloInyectGray{
	margin: 10px;
	color: #828282;
	font-size: 16px;
}
.tituloInyectWhite{
	margin: 10px;
	color: white;
	font-size: 16px;
}
.tituloBidonGray{
	margin: 10px;
	color: #828282;
	font-size: 16px;
}
.tituloBidonWhite{
	margin: 10px;
	color: white;
	font-size: 16px;
}
.columnaIconos {
	margin: 10px;
}
.botonAtras{
	background-color: #828282;
	color: white;
	margin: 30px;
	padding: 10px;
	border-radius: 10px;
	border: none;
	font-size: 15px;
	font-weight: 600;
	width: 50px;
	height: 50px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.iconHomeClasificadora {
	width: 70px;
	font-size: 40px;
	margin: 2px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}


/*----------------------FORMULARIO MECANICO--------------------------------------*/
.formMecanico {
	margin-top: 50px;
	padding: 20px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.botonEnviarForm {
	display: block;
	background:#4dada4;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	width:760px
}

/*----------FORMULARIO ENCARGADO-----------------*/
.botonSiguienteFormularioEncargado {
	display: block;
	background:#828282;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	width:auto
}
/*----------FORMULARIO ENCARGADO PAGINA 1-----------------*/
.botonSagrado{
	display: none;
}
.containerPagina1{
	margin: 20px;
	padding: 20px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.react-date-picker-color {
	background-color: #828282;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 50%;
  color:red;
  font-family: "Titillum Web", Titillium Web, sans-serif
}

/*----------FORMULARIO ENCARGADO PAGINA 2-----------------*/
/*Vista encargado pruebas mostrar ocultar columnas*/
.visible {
	display: block;
}

.esconder {
	display: none;
}
.iconFiltro {
	color: white;
	font-size: 30px;
}

.iconBotonAgregar {
	color: white;
	font-size: 20px;
	background-color: #e2e2e2;
	margin: 2px;
	padding: 2px;
	background-color: #4dada4;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.iconBotonEliminar {
	color: white;
	font-size: 20px;
	background-color: #e2e2e2;
	margin: 2px;
	padding: 2px;
	background-color: #ecc24d;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.botonVisible {
	visibility: visible;
	display: block;
}

.botonEsconder {
	visibility: hidden;
	display: none;
}


/*Table*/
.tableColor {
	background-color: #4dada4;
}

/*Formulario inputs usuarios*/

.bloquearInput input:disabled{
	background-color: #0085FF;
}

.selectTurno{
	background-color: #4dada4;
	width: 120px;
	color: white;
	margin: 10px;
	padding-inline-start: 10px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
/*---------------------------------------Roles--------------------------------------*/

.containerRoles {
	margin: 10px;
	padding: 10px;
}
.tituloRoles {
	font-size: 40px;
	font-weight: 700;
	margin: 20px;
	padding: 20px;
	color: #828282;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.iconClasificadoraGray {
	width: 50px;
	align-items: center ;
	margin-top: 25px;
	fill:#828282;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.iconClasificadoraGreen {
	width: 50px;
	align-items: center ;
	margin-top: 25px;
	fill: white
	
}
.iconMecanicoGray {
	width: 50px;
	align-items: center ;
	margin-top: 25px;
	fill:#828282;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.iconMecanicoGreen {
	width: 50px;
	align-items: center ;
	margin-top: 25px;
	fill: white
	
}
.iconEncargadoGray {
	width: 50px;
	align-items: center ;
	margin-top: 25px;
	fill:#828282;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.iconEncargadoGreen {
	width: 50px;
	align-items: center ;
	margin-top: 25px;
	fill: white

}
/*Titulos roles*/
.tituloClasificadoraGray {
	color: #828282;
	font-size: 20px;
	font-weight: 700;
	padding: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.tituloClasificadoraGreen {
	color: white;
	font-size: 20px;
	font-weight: 700;
	padding: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.tituloMecanicoGray {
	color: #828282;
	font-size: 20px;
	font-weight: 700;
	padding: 15px;
}
.tituloMecanicoGreen {
	color: white;
	font-size: 20px;
	font-weight: 700;
	padding: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.tituloEncargadoGray {
	color: #828282;
	font-size: 20px;
	font-weight: 700;
	padding: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.tituloEncargadoGreen {
	color: white;
	font-size: 20px;
	font-weight: 700;
	padding: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
/*------------------------Use state cambio de color----------------------*/

.roleMecanicoGreen {
	background-color: #4dada4;
	border-radius: 30px;
	transition-duration: 1s;
	border: 4px solid #4dada4;
	cursor: pointer;
	width: 150px;
	height: 150px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.roleMecanicoGray{
	border-radius: 30px;
	border: 4px solid #828282;
	cursor: pointer;
	width: 150px;
	height: 150px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.roleClasificadoraGreen {
	background-color: #4dada4;
	border-radius: 30px;
	transition-duration: 1s;
	border: 4px solid #4dada4;
	cursor: pointer;
	width: 150px;
	height: 150px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.roleClasificadoraGray{
	border-radius: 30px;
	border: 4px solid #828282;
	cursor: pointer;
	width: 150px;
	height: 150px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.roleEncargadoGreen {
	background-color: #4dada4;
	border-radius: 30px;
	transition-duration: 1s;
	border: 4px solid #4dada4;
	cursor: pointer;
	width: 150px;
	height: 150px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.roleEncargadoGray{
	border-radius: 30px;
	border: 4px solid #828282;
	cursor: pointer;
	width: 150px;
	height: 150px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}





/*SELECCION DE AREAS ENCARGADO*/

.botonAreas {
	background-color: #4dada4;
	margin: 10px;
	padding: 12px;
	color: white;
	border-style: none;
	border-radius: 10px;
	width: auto;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.iconsAreas {
	fill: white;
	width: 20px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}


/*PAGINA ENCARGADO SELECCION ROLES*/
.tituloTurno {
	color: #828282;
	font-weight: 700;
	font-size: 40px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.tituloFecha {
	color: #828282;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 20px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}
.seleccionTurnoMañanaGris {
	background-color: white;
	padding: 10px;
	margin: 10px;
	color: #828282;
	border-radius: 10px;
	border: 3px solid #828282;
	width: 120px;
	font-size: 20px;
	font-weight: 600;
	transition-duration: 0.5s;
	font-family: "Titillum Web", Titillium Web, sans-serif

}
.seleccionTurnoMañanaVerde{
	background-color: #4dada4;
	padding: 10px;
	margin: 10px;
	color: white;
	border-radius: 10px;
	border: 3px solid #828282;
	transition-duration: 1s;
	width: 120px;
	font-size: 20px;
	font-weight: 600;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.seleccionTurnoTardeGris {
	background-color: white;
	padding: 10px;
	margin: 10px;
	color: #828282;
	border-radius: 10px;
	border: 3px solid #828282;
	width: 120px;
	font-size: 20px;
	font-weight: 600;
	transition-duration: 0.5s;
	font-family: "Titillum Web", Titillium Web, sans-serif

}
.seleccionTurnoTardeVerde{
	background-color: #4dada4;
	padding: 10px;
	margin: 10px;
	color: white;
	border-radius: 10px;
	border: 3px solid #828282;
	transition-duration: 1s;
	width: 120px;
	font-size: 20px;
	font-weight: 600;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.seleccionTurnoNocheGris {
	background-color: white;
	padding: 10px;
	margin: 10px;
	color: #828282;
	border-radius: 10px;
	border: 3px solid #828282;
	width: 120px;
	font-size: 20px;
	font-weight: 600;
	transition-duration: 0.5s;
	font-family: "Titillum Web", Titillium Web, sans-serif

}
.seleccionTurnoNocheVerde{
	background-color: #4dada4;
	padding: 10px;
	margin: 10px;
	color: white;
	border-radius: 10px;
	border: 3px solid #828282;
	transition-duration: 1s;
	width: 120px;
	font-size: 20px;
	font-weight: 600;
	font-family: "Titillum Web", Titillium Web, sans-serif
}



/*PRUEBA CSS DESAPARECER*/

.visibility {
	visibility: block;
	margin: 30px;
}

.hidden {
	display: none;
}

.visibility1 {
	visibility: block;
	margin: 30px;

}

.hidden1 {
	display: none;
}

pruebas opacidad*/
.opacity {
   opacity: 1;
   
 
   background-color: #4dada4;

}

 .opacityDone {
   opacity: 0;
   transition-duration: 5s;
   transition-delay: 2s;
   background-color: white;
}

/*HORAS*/

.botonHoras{
	padding: 15px;
	width: 200px;
	border-style: none;
	background-color: #e2e2e2;
	margin: 5px;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.botonHoras:hover{
	padding: 15px;
	width: 200px;
	border-style: none;
	background-color: #4dada4;
	margin: 5px;
	border-radius: 15px;
	font-family: "Titillum Web", Titillium Web, sans-serif
}

.botonRechazos{
	padding: 15px;
	width: 200px;
	border-style: none;
	background-color: #4dada4;
	margin: 5px;
	border-radius: 15px;
	color: white;
}
	
.botonRechazos:hover{
    padding: 15px;
	width: 200px;
	border-style: none;
	background-color: #e2e2e2;
	margin: 5px;
	border-radius: 15px;
	color: black;
	font-family: "Titillum Web", Titillium Web, sans-serif

}

.my-custom-scrollbar {
	position: relative;
	height: auto;
	overflow: auto;
	font-family: "Titillum Web", Titillium Web, sans-serif
	}
.table-wrapper-scroll-y {
	display: block;
	font-family: "Titillum Web", Titillium Web, sans-serif
	}

.dtHorizontalExampleWrapper {
		max-width: auto;
		margin: 0 auto;
		font-family: "Titillum Web", Titillium Web, sans-serif
	  }
#dtHorizontalExample th, td {
		white-space: nowrap;
		font-family: "Titillum Web", Titillium Web, sans-serif
	  }
	  
	  table.dataTable thead .sorting:after,
	  table.dataTable thead .sorting:before,
	  table.dataTable thead .sorting_asc:after,
	  table.dataTable thead .sorting_asc:before,
	  table.dataTable thead .sorting_asc_disabled:after,
	  table.dataTable thead .sorting_asc_disabled:before,
	  table.dataTable thead .sorting_desc:after,
	  table.dataTable thead .sorting_desc:before,
	  table.dataTable thead .sorting_desc_disabled:after,
	  table.dataTable thead .sorting_desc_disabled:before {
	   bottom: .5em;
	  }


	  /*---------------------ADMINISTRADOR---------------------------------------*/
	 .containerAdmin{
		margin: 40px;
		padding: 30px;
		font-family: "Titillum Web", Titillium Web, sans-serif
	 }
	  
	  .botonUsers{
		background-color: #4dada4;
		margin: 10px;
		padding: 10px;
		border: 2px solid #828282;
		font-size: 20px;
		font-weight: 600;
		color: white;
		width: 120px;
		font-family: "Titillum Web", Titillium Web, sans-serif
	  }
	    .botonUsers2{
		background-color: #4dada4;
		margin: 10px;
		padding: 10px;
		border: 2px solid #828282;
		font-size: 20px;
		font-weight: 600;
		color: white;
		width: 200px;
		font-family: "Titillum Web", Titillium Web, sans-serif
	  }

	  .tituloAdmin {
		color: #828282;
		font-size: 50px;
		font-weight: 600;
		font-family: "Titillum Web", Titillium Web, sans-serif
	  }

	  .cardUser{
		background-color: #e2e2e2;
		color: #828282;
		margin: 5px;
		padding: 40px;
		font-size: 14px;
		font-weight: 400;
		width: 220px;
		font-family: "Titillum Web", Titillium Web, sans-serif
	  }

	  .botonDelete {
		background-color: #e66e70;
		width: 50px;
		border: none;
		margin: 5px;
		padding: 5px;
		font-family: "Titillum Web", Titillium Web, sans-serif
	  }
	    .botonEdit {
		background-color: #efcc59;
		width: 50px;
		border: none;
		margin: 5px;
		padding: 5px;
		font-family: "Titillum Web", Titillium Web, sans-serif
	  }
	  .botonRegister{
		display: block;
	background:#4dada4;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
	width:570px
	  }

	  .iconSimbol{
		fill: #4dada4;
	  }
	  .containerLogos{
		padding: 5px;
	  }